body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    background-color: lightgrey;
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}