body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    background-color: lightgrey;
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

#support {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#gmaps {
    align-items: center;
}